*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(aqua, aquamarine);
    font-family: 'Anton', sans-serif;
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 25%;
    height: 500px;
    border-radius: 8px;
}

input{
    width: 200px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

button{
    background-image: linear-gradient(aqua, aquamarine);
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin: 10px;
    cursor: pointer;
}

h2{
    color: black;
    text-shadow: 0rem 1.2rem 2rem beige;
}